body {
    margin: 0;
    background: #fff;
    line-height: 1;
    font-family: 'Pingfang SC', 'Lantinghei SC', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 16px;
    color: #333;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
    -webkit-print-color-adjust: exact;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    font-size: inherit;
}

ul,
ol {
    list-style-type: none;
}

img {
    border: none;
    vertical-align: top;
}

a,
a:visited {
    text-decoration: none;
    color: #08c;
}

a:hover {
    text-decoration: underline;
}


/* 清浮动 */

.clearfix:after {
    display: block;
    overflow: hidden;
    clear: both;
    height: 0;
    visibility: hidden;
    content: '.';
}


/* 通用列表样式 */

.list>li {
    list-style: disc;
    margin-left: 1.3em;
}


/* 头部 */

.header {
    width: 100%;
    height: 80px;
    border-bottom: 1px #ccc solid;
    position: fixed;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.8);
    z-index: 999;
}

.content {
    width: 980px;
    margin: 0 auto;
}

.header-left {
    line-height: 84px;
    float: left;
}

.name-yu {
    font-size: 40px;
}

.name-position {
    color: #888;
}

.header-right {
    line-height: 84px;
    float: right;
}

@media (max-width:750px) {
    .header {
        width: 100%;
        height: 80px;
        border-bottom: 2px #ccc solid;
        position: fixed;
        overflow: hidden;
    }
    .content {
        width: 100%;
    }
    .header-left {
        line-height: 50px;
        height: 50px;
        float: none;
    }
    .name-yu {
        font-size: 30px;
    }
    .header-right {
        height: 20px;
        line-height: 20px;
        float: none;
    }
}


/* 主题内容------------------------------------------- */

.main {
    width: 100%;
}


/* 模块标题 */

.body-title {
    padding: 30px;
}

.title-main {
    font-family: 'Microsoft JhengHei', 'Microsoft YaHei', 'STHeiti SC', 'SimHei';
    font-size: 35px;
    text-align: center;
    padding-bottom: 20px;
    /* color: rgb(100, 100, 100); */
}

.subtitle {
    font-family: 'Microsoft JhengHei', 'Microsoft YaHei', 'STHeiti SC', 'SimHei';
    font-size: 25px;
    text-align: center;
    color: #888;
}


/* 技能栏目 */

.skill {
    background-color: rgb(245, 245, 245);
    padding-top: 82px;
    padding-bottom: 30px;
}

.skill li {
    display: block;
    margin-bottom: 18px;
    height: 40px;
    position: relative;
}

.skill-1,
.skill-2,
.skill-3 {
    border-left: 2px solid #08c;
    background: #d6efff;
    color: #2a7da9;
}

.skill-4,
.skill-5 {
    border-left: 2px solid #80bd01;
    background: #eaf6d0;
    color: #6e9c0f;
}

.skill-6 {
    border-left: 2px solid #fdbc40;
    background: #fff6dd;
    color: #ff742a;
}


/* 设能栏动画 */

.skill-1 {
    animation: skill-1-animatian 2s;
    width: 980px;
}

@keyframes skill-1-animatian {
    from {
        width: 0px;
    }
    to {
        width: 980px;
    }
}

.skill-2 {
    animation: skill-2-animatian 2s;
    width: 880px;
}

@keyframes skill-2-animatian {
    from {
        width: 0px;
    }
    to {
        width: 880px;
    }
}

.skill-3 {
    animation: skill-3-animatian 2s;
    width: 800px;
}

@keyframes skill-3-animatian {
    from {
        width: 0px;
    }
    to {
        width: 800px;
    }
}

.skill-4 {
    animation: skill-4-animatian 2s;
    width: 480px;
}

@keyframes skill-4-animatian {
    from {
        width: 0px;
    }
    to {
        width: 480px;
    }
}

.skill-5 {
    animation: skill-5-animatian 2s;
    width: 680px;
}

@keyframes skill-5-animatian {
    from {
        width: 0px;
    }
    to {
        width: 680px;
    }
}

.skill-6 {
    animation: skill-6-animatian 2s;
    width: 660px;
}

@keyframes skill-6-animatian {
    from {
        width: 0px;
    }
    to {
        width: 660px;
    }
}

.skill-h4 {
    line-height: 40px;
    font-size: 20px;
    padding-left: 30px;
}

.skill-li-div {
    display: none;
    z-index: 2;
    background: rgba(255, 255, 255, 0.8);
    border: rgb(231, 231, 231) 1px solid;
    position: absolute;
    top: 12px;
    left: 200px;
    border-radius: 5px;
}

.skill-li-div ul {
    padding: 10px 15px;
}

.skill-li-div ul li {
    font-size: 12px;
    color: rgb(39, 39, 39);
    display: list-item;
    height: 20px;
    margin-left: 1.3em;
    margin-bottom: 0;
    list-style-type: disc;
}


/* 工作经历 */

.work-exp-list {
    border-left: 4px solid rgb(116, 143, 194);
}

.work-exp-list-module {
    padding-top: 15px;
}

.work-mod-top {
    position: relative;
    margin-left: 15px;
    height: 24px;
    line-height: 24px;
}

.work-mod-top i {
    position: absolute;
    left: -29px;
    top: 0;
    width: 24px;
    height: 24px;
    border: 3px solid #fff;
    border-radius: 12px;
    background: #3498db;
    line-height: 26px;
}

.work-mod-main-left,
.work-mod-main-right {
    float: left;
}

.work-mod-main-left img {
    padding: 30px 80px;
    width: 300px;
    height: 120px;
}

.work-mod-main-right ul {
    padding: 20px 0;
}

.work-mod-main-right ul li {
    margin-left: 20px;
    margin-bottom: 5px;
    list-style-type: disc;
}

.work-other {
    padding: 0 120px;
    color: rgb(156, 156, 156);
    font-size: 10px;
}


/* 兴趣爱好 */

.hobby {
    margin-top: 50px;
    background-color: rgb(245, 245, 245);
}

.footer {
    border-top: #ccc 1px solid;
    /* height: 100px; */
}